.note-chat-con {
    width: 100%;
    background-color: aquamarine;
}

.note-con {
    background-color: white;
    display: grid;
    grid-template-rows: auto 85% 1fr;
    text-align: center;
    padding-inline: 10px;
    height: calc(100% - 25px);
    /* background-color: yellow; */
    /* border: solid 2px black; */
}

.note-input {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    resize: none;
}

.save-btn-con {
    text-align: center;
    /* background-color: green; */
    height: 100%;
}

.save-note-btn {
    height: 40px;
    width: calc(100% - 5px);
    margin-inline: auto;
    margin-top: 5px;
    /* background-color: #333; */
    border: 2px solid var(--border-main);

    display: grid;
    justify-content: center;
    align-items: center;
}

.save-note-btn:hover {
    cursor: pointer;
    background-color: var(--blue-main);
}

/* for note inputs */
.note-area-input {
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    cursor: text;
}

.note-tittle {
    width: 100%;
    border-radius: 2px;
    padding-inline: 10px;
    padding-block: 10px;
    margin-block: 10px;
}

.note-area-input:focus {
    border: none;
    font-size: 18px;
    cursor: pointer;
    /* Change the cursor style if needed */
}


.loading img {
    width: 30px;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    /* Change hover background color */
    color: #333;
    /* Change text color on hover */
}


.nav-btn {
    margin-inline: 10px;
    border: solid 1px var(--border-main);
}

.nav-btn:hover {
    cursor: pointer;
    border: solid 1px black;
}